/* Sticky footer styles
-------------------------------------------------- */
/* line 106, ../../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1.33333em;
}

/* line 9, ../../_compass/main.scss */
html {
  position: relative;
  min-height: 100%;
  line-height: 4em;
}

/* line 14, ../../_compass/main.scss */
body {
  background-color: #ddd;
  font-size: 1em;
  line-height: 1.33333em;
}

/* line 18, ../../_compass/main.scss */
h1 {
  font-size: 2.22222em;
  line-height: 1.2em;
  margin-top: 0.57143em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em;
}

/* line 22, ../../_compass/main.scss */
h2 {
  font-size: 1.77778em;
  line-height: 1.5em;
  margin-top: 0.75em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.375em;
}

/* line 26, ../../_compass/main.scss */
h3 {
  font-size: 1.44444em;
  line-height: 1.84615em;
  margin-top: 0.92308em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.46154em;
}

/* line 30, ../../_compass/main.scss */
h4 {
  font-size: 1.22222em;
  line-height: 2.18182em;
  margin-top: 1.09091em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.54545em;
}

/* line 34, ../../_compass/main.scss */
.container {
  background-color: #fff;
  padding: 0 1.5em 1.5em;
}

/* line 38, ../../_compass/main.scss */
.page-header {
  overflow: hidden;
}
/* line 40, ../../_compass/main.scss */
.page-header h1 {
  float: left;
}
/* line 43, ../../_compass/main.scss */
.page-header .contact {
  float: right;
}

/* line 47, ../../_compass/main.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* line 56, ../../_compass/main.scss */
.section {
  border-bottom-width: 0.05556em;
  border-bottom-style: solid;
  padding-bottom: 0.61111em;
  border-bottom-color: #eee;
  border-bottom-style: solid;
  clear: both;
}
/* line 61, ../../_compass/main.scss */
.section span {
  float: right;
  font-size: 1em;
  line-height: 1.33333em;
  margin-top: 1.33333em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.66667em;
  font-weight: bold;
}
